parameters:
    level: 8
    paths:
        - ../src
    excludePaths:
        - ../vendor
    scanDirectories:
        - ../PHPMailer/src
    bootstrapFiles:
        - ../PHPMailer/src/PHPMailer.php
        - ../PHPMailer/src/SMTP.php
        - ../PHPMailer/src/Exception.php
